<div ng-controller="MainCtrl">
	<h2>Perfect Durfee Swipe</h2>
	<p>Top off your lunch swipe every time.</p>

	<div id="shopping-bag-list" ng-show="shoppingBag.items.length">
		<p>Your Bag:</p>
		<ul ng-repeat="item in shoppingBag.items">
			<li>{{item.name}} (x{{item.count}}): {{item.price * item.count | currency}}</li>
		</ul>
		<p>Total price: {{shoppingBag.totalPrice | currency}}</p>
		<p>Remaining credit: {{shoppingBag.remainingCredit | currency}}</p>
	</div>

	<form id="lookup-form" ng-submit="lookUpItem(searchInput)" novalidate>
		<input ng-model="searchInput" type="text">
		<input type="submit" value="Submit">
	</form>
</div>
