<div ng-controller="MainCtrl">
	<h2>Perfect Your Durfee Swipe</h2>
	<p>Top off your lunch swipe every time.</p>

	<div id="shopping-bag-list" ng-show="srvc.model.shoppingBag.items.length">
		<p>Your Bag:</p>
		<ul ng-repeat="item in srvc.model.shoppingBag.items">
			<li>
				{{item.name}} (x{{item.count}}): {{item.price * item.count | currency}} 
				<a href="#" ng-click="removeItemFromBag(item);">remove</a>
			</li>
		</ul>
	</div>
	<p>Total price: {{srvc.model.shoppingBag.totalPrice | currency}}</p>
	<p>Remaining credit: {{srvc.model.shoppingBag.remainingCredit | currency}}</p>

	<form id="lookup-form" ng-submit="lookUpItem();" novalidate>
		<input ng-model="srvc.model.searchInput" type="text" 
			placeholder=" search for products"
			typeahead="item as item.name for item in products | filter:{'name':$viewValue} | limitTo:8"
			typeahead-template-url="typeahead.html"
			typeahead-on-select="onItemSelected();">
		<input type="submit" value="Submit">
	</form>

	<div id='suggestions'>
		<br>
		<button ng-click="toggleSuggestions();" type="button">{{srvc.model.suggestionsLabel}}</button>
		<ul ng-show="displaySuggestions();" ng-repeat="item in productsUnderLimit()">
			<li>
				{{item.name}}: {{item.price | currency}}
				<a href="#" ng-click="addItemToBag(item)">add</a>
			</li>
		</ul>
		<p ng-show="productsUnderLimit().length === 0">
			No products found; remaining credit too low.
		</p>
	</div>
	<br>
</div>

<script type="text/ng-template" id="typeahead.html">
  <a>
  	<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>