<div ng-controller="MainCtrl">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>

	<h2>Perfect Your Durfee Swipe</h2>
	<p>Top off your lunch swipe every time.</p>

	<div id="shopping-bag-list" ng-show="srvc.model.shoppingBag.items.length">
		<p>Your Bag:</p>
		<ul ng-repeat="item in srvc.model.shoppingBag.items">
			<li>
				{{item.name}} (x{{item.count}}): {{item.price * item.count | currency}} 
				<a href="#" ng-click="removeItemFromBag(item);">remove</a>
			</li>
		</ul>
	</div>
	<p>Total price: {{srvc.model.shoppingBag.totalPrice | currency}}</p>
	<p>
		Remaining credit: {{srvc.model.shoppingBag.remainingCredit(srvc.model.creditLimit, srvc.model.shoppingBag.totalPrice) | currency}}
		<button ng-click="openCreditLimitModal();" type="button">Adjust Credit Limit</button>
	</p>

	<form id="lookup-form" ng-submit="lookUpItem();" novalidate>
		<input ng-model="srvc.model.searchInput" type="text" 
			placeholder=" search for products"
			typeahead="item as item.name for item in products | filter:{'name':$viewValue} | limitTo:8"
			typeahead-template-url="typeahead.html"
			typeahead-on-select="onItemSelected();">
		<input type="submit" value="Submit">
	</form>

	<div id="suggestions">
		<br>
		<button ng-click="toggleSuggestions();" type="button">{{srvc.model.suggestionsLabel}}</button>
		<ul ng-repeat="item in productsUnderLimit()">
			<li>
				{{item.name}}: {{item.price | currency}}
				<a href="#" ng-click="addItemToBag(item)">add</a>
			</li>
			<li ng-show="!productsUnderLimit().length">
				No products found; remaining credit too low.
			</li>
		</ul>
	</div>
	<br>
</div>

<script type="text/ng-template" id="creditLimitModal.html">
	<form name="creditLimitForm" ng-submit="updateCreditLimit($scope.newCreditLimit);">
		<div class="modal-header">
			<h3>Adjust the credit limit</h3>
		</div>
		<div class="modal-body">
			<input type="number" name="input" ng-model="$scope.newCreditLimit" min="0" required>
		</div>
		<div class="modal-footer">
			<button type="submit">Update Limit</button>
			<button ng-click="cancel();">Cancel</button>
		</div>
	</form>
</script>

<script type="text/ng-template" id="typeahead.html">
  <a>
  	<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>